.wrapper-post {
  background-color: #f0f2f5;
  border-radius: 30px;
  max-height: 500px;
  overflow: hidden;
}

.timeline-empty-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.815);
}

.post-photo-container {
  width: 100%;
  height: 300px;
}

.post-photo-final {
  width: 100%;
  height: 100%;
  border: 1px #dadde5 solid;
  border-radius: 10px;
  object-fit: cover;
}

.post-display {
  width: 100%;
}

/* Avatar */
.avatar-container {
  margin: 0 10px 0 0;
}

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px #dadde1 solid;
}

/* Row 1 */
.user-details-container {
  padding: 10px 10px;
}

@media (max-width: 475px) {
  .user-details-container {
    padding: 5px 5px;
  }
}

/* Row 1 Col 2 */
.user-name-container {
  margin: 0 0 0 10px;
}

@media (max-width: 425px) {
  .user-name-container h5 {
    font-size: 5vw;
  }
  .post-text-final {
    font-size: 2.8vw;
  }
}

@media (min-width: 1024px) {
  .post-text-final {
    font-size: 130px;
  }
}

/* Row 2 */
.post-text-container {
  padding: 0 0 0 10px;
}

.post-text-final {
  padding: 0 0 0 20px;
  font-weight: 350;
  font-size: 15px;
}

/* Row 3 */
.like-comment-share-container {
  height: 50px;
}

@media (min-width: 425px) {
  .like-comment-share-container span {
    font-size: 20px;
  }
}

.like-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.like-color {
  color: red;
}
